name: recaster
description: "Desktop Flutter plugin for recording the current app window on macOS, Windows, and Linux."
version: 0.1.1
homepage: https://github.com/IgorShahin/recaster
repository: https://github.com/IgorShahin/recaster

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  plugin:
    platforms:
      linux:
        pluginClass: RecasterPlugin
      macos:
        pluginClass: RecasterPlugin
      windows:
        pluginClass: RecasterPluginCApi
